/*搜索框样式*/
.m-search {
    position: absolute!important;
    top: 0!important;
    right: 0!important;
    width: 67px!important;
    height: 63px!important;
    background-color: #670090 !important;
    transition: .5s!important;
}

.m-search .icon {
    width: 67px!important;
    height: 67px!important;
    line-height: 67px!important;
    font-size: 30px!important;
    color: #fff!important;
    text-align: center!important;
    cursor: pointer!important;
}


.m-search.m-active {
    width: 100vw!important;
    height: 100vh!important;
}

.form {
    position: absolute;
    top: 50%!important;
    right: 10%!important;
    transform: translate(-50%, -50%);
    display: none;
}

.form input {
    background: transparent!important;
    color: #fff!important;
    border: none;
    border-bottom: 4px solid #fff!important;
    outline: none!important;
    font-size: 40px!important;
    padding: 10px 0!important;
}

.m-search.m-active .form {
    display: block;
}

.form input::placeholder {
    color: #fff;
}

.no {
    display: none !important;
}