<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="_fragments::head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>关于我</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
<!--导航-->
<nav th:replace="_fragments::menu(5)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable  menu">  <!--stackable 可堆叠的 应用在移动端-->
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="nav_item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="nav_item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="nav_item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="#" class="nav_item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class="active nav_item item m-mobile-hide"><i class="mini info icon"></i>关于我</a>
            <div class="nav_item right item m-mobile-hide">
                <div class="ui icon inverted transparent  input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>

        </div>
    </div>
    <a href="#" id="menu_toggle" class="ui black button m-mobile-show m-top-right ">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--top attached 完整拼接成一个相连区域 bottom attached-->
<!--中间内容-->
<div id="pointTop" class="m-container m-padded-tb-4em ">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="eleven wide column">
                <img src="https://unsplash.it/800/600?image=1005" alt="" class="ui rounded image">
            </div>
            <div class="five wide column m-card-mod">
                <div class="ui top attached segment">
                    <div class="ui header">关于我</div>
                </div>
                <div class="ui attached segment">
                    <p class="m-text">赵睿宇，一个在读大学生。时间过得好快呀，已经大三了。自己却还是个菜鸟。。后知后觉，开始干干干！！！</p>
                    <p class="m-text">热爱编程，打磨编程技术。</p>
                </div>
                <div class="ui attached segment">
                    <div class="ui orange basic left pointing label">编程</div>
                    <div class="ui orange basic left pointing label">运动</div>
                    <div class="ui orange basic left pointing label">思考</div>
                    <div class="ui orange basic left pointing label">阅读</div>

                </div>
                <div class="ui attached segment">
                    <div class="ui orange basic left pointing label m-margin-tb-tiny">Java</div>
                    <div class="ui orange basic left pointing label m-margin-tb-tiny">CSS</div>
                    <div class="ui orange basic left pointing label m-margin-tb-tiny">MYSQL</div>
                    <div class="ui orange basic left pointing label m-margin-tb-tiny">SSM</div>
                    <div class="ui orange basic left pointing label m-margin-tb-tiny">Spring</div>
                    <div class="ui orange basic left pointing label m-margin-tb-tiny">SpringBoot</div>
                    <div class="ui orange basic left pointing label m-margin-tb-tiny">...</div>
                </div>
                <div class="ui bottom attached segment center aligned">
<!--                    <a href="#" class="ui circular icon button"><i class="gitee icon"></i></a>-->
                    <a href="https://gitee.com/zhao--ruiyu/spring-boot-blog-master" target="_blank"  data-content="点击跳转gitee" data-position="bottom center" class="ui gitee circular icon button"><img src="static/images/gitee.png" th:src="@{/images/gitee.png}" width="12"></a>
                    <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
                    <a href="https://blog.csdn.net/qq_45802080" target="_blank" class="ui csdn circular icon button" data-content="点击跳转CSDN" data-position="bottom center"><i class="copyright outline icon"></i></a>
                    <a href="#" class="ui qq circular icon button" data-content="1447051936" data-position="bottom center"><i class="blue qq icon"></i></a>
                </div>

            </div>
        </div>
    </div>

</div>
<br>
<br>
<!--底部footer-->
<footer th:replace="_fragments::footer" class="ui inverted vertical segment m-padded-tb-massive">
    <!--    居中-->
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/微信二维码1.png" class="ui rounded image" alt="" width="110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui inverted link list m-text-thin m-text-spaced">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">联系我</h4>
                <div class="ui inverted link list m-text-thin m-text-spaced">
                    <a href="#" class="item">Email：1447051936@qq.com</a>
                    <a href="#" class="item">QQ:1447051936</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity">
                    这厮我的个人博客，会分享关于编程，思考，随笔相关的内容，欢迎大家访问，希望可以给到这的人有所帮助...
                </p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright &copy; 2021 rights reserved Newbie Zry</p>
    </div>

</footer>
</body>
<!--/*/<th:block th:replace="_fragments::script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script type="text/javascript">
    $("#menu_toggle").click(function () {
        $(".nav_item").toggleClass('m-mobile-hide');
        /*    //定义和用法$(selector).toggleClass(class,switch)
                toggleClass() 对设置或移除被选元素的一个或多个类进行切换。

        该方法检查每个元素中指定的类。如果不存在则添加类，如果已设置则删除之。这就是所谓的切换效果。

        不过，通过使用 "switch" 参数，您能够规定只删除或只添加类。*/
    });
$(".qq").popup();$(".csdn").popup();
$(".gitee").popup();

</script>

</html>